/*
'Nested tags to only target sub-elements of tag
*/
body {
    margin: 0;
    padding: 0;

    // Nested p tag applies style to all p tags inside the body
    p {
        margin: 10px
    }
}